:host {
    display: block;
    padding: 0;
    color: var(--text-color);
}

.serie-detail-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background: var(--card-bg);
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    margin-top: 6rem;
}

.detail-header {
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
}

.detail-title {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    font-weight: 800;
}

.detail-meta-group {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-muted);
    flex-wrap: wrap;
}

.detail-rating {
    color: var(--rating-star);
    font-weight: 700;
}

.detail-rating .fa-star {
    margin-right: 5px;
}

.detail-age-rating {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    color: #141414;
    background-color: var(--age-free);
    font-weight: 700;
}

.detail-age-rating.age-14 {
    background-color: var(--age-14);
}

.detail-age-rating.age-18 {
    background-color: var(--age-18);
    color: var(--text-color);
}

.season-episode-info {
    background: var(--secondary-color);
    color: white;
    padding: 4px 12px;
    border-radius: 6px;
    font-weight: 600;
}

.top-10-badge {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--primary-color);
    color: var(--text-color);
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.description-section {
    margin-bottom: 40px;
}

.detail-description {
    font-size: 1.2rem;
    color: var(--text-muted);
    margin-bottom: 20px;
    font-style: italic;
}

.description-section h2 {
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--text-color);
    border-left: 4px solid var(--secondary-color);
    padding-left: 10px;
}

.detail-synopsis {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--text-muted);
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding-top: 20px;
    border-top: 1px dashed var(--border-color);
}

.info-block h3 {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    font-weight: 600;
}

.info-list {
    color: var(--text-color);
    line-height: 1.6;
}

.info-list span {
    display: inline-block;
    background: #333;
    padding: 3px 8px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.empty-info {
    color: var(--text-muted);
    font-style: italic;
}

.creator-info{
    width: 4.5rem;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.creator-info a:hover{
   color: var(--primary-color);
}